// Variables de color
$naranja: #FF863A;
$rosa: #FF157B;
$rojo: #F00B51;
$text-color: #000000;

// Estilo global
body {
    background: linear-gradient(to bottom right, $rojo, $naranja);
    color: $text-color;
    font-family: 'Alkalami';
    height: 100vh;
}

// Encabezado principal
h1 {
    font-size: 4rem;
    font-weight: bolder;
}

// Botones personalizados
.btn-pink {
    background-color: $rosa;
    color: $text-color;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    width: 125px;
    &:hover {
        background-color: scale-color($rosa, $lightness: 50%);
    }
}

// Estilo de las pestañas
.nav-tabs {
    .nav-link {
        color: $text-color;
        background-color: $rosa;
        margin: 0 5px;
        &:hover {
            background-color: scale-color($rosa, $lightness: 50%);
        }
    }
    
    .nav-link.active {
        background-color: $rojo;
    }
}

// Estilo de las tarjetas
.card {
    background-color: #ffffff;
    color: $text-color;
    border-radius: 0%;
    margin: 0%;
}

#cityInput {
    background-color: $naranja;
    border: none;
}

#logo{
    width:200px;
    height:150px;
}

#logo {
    height: 100%;
    margin: 0;
}
.navbar {
    background-color: $rosa !important;
    height: 10%;
    padding: 0px;
}

.card {
    margin-bottom: 0;
    border-top: 7px solid #FF863A !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-bottom: 1px solid black !important;
  }
  
  .tab-pane {
    padding: 0;
    margin: 0;
  }
  
  .row {
    margin: 0;
  }
  
  .col {
    padding: 0;
  }