// Variables de color
$naranja: #FF863A;
$rosa: #FF157B;
$rojo: #F00B51;
$text-color: #000000;

@mixin fondoGradient($color1, $porcentaje) {
    background: scale-color($color1, $lightness: $porcentaje);
}

body {
    background: linear-gradient(to bottom right, $rojo, $naranja);
    color: $text-color;
    font-family: 'Alkalami';
    height: 100vh;
}


%encabezado {
    font-size: 4rem;
    font-weight: bolder;
}

h1 {
    @extend %encabezado;
}

%boton {
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    width: 125px;
}

.btn-pink {
    @extend %boton;
    background-color: $rosa;
    color: $text-color;

    &:hover {
        @include fondoGradient($rosa, 50%);
    }
}

.nav-tabs {
    .nav-link {
        color: $text-color;
        background-color: $rosa;
        margin: 0 5px;

        &:hover {
            @include fondoGradient($rosa, 50%);
        }
    }

    .nav-link.active {
        background-color: $rojo;
    }
}

.card {
    background-color: #ffffff;
    color: $text-color;
    border-radius: 0%;
    margin: 0%;
    @extend %tarjeta;
}

%tarjeta {
    margin-bottom: 0;
    border-top: 7px solid #FF863A !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

#cityInput {
    background-color: $naranja;
    border: none;
}

#logo {
    width: 200px;
    height: 150px;
}

#logo {
    height: 100%;
    margin: 0;
}

.navbar {
    background-color: $rosa !important;
    height: 10%;
    padding: 0px;
}

.tab-pane {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
}

.col {
    padding: 0;
}